<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:37:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.CloseBrowser()[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:37:15</td>   <td>219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.CloseBrowser()[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:37:25</td>   <td>10319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.CloseBrowser()[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:37:35</td>   <td>19705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.CloseBrowser()[pri:0, instance:week4.day1.MergeLeadsGetWindow@45f292]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@5212445</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:37:39</td>   <td>24001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.CloseBrowser()[pri:0, instance:week2.day2.DeleteLead@fd02e5]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@23922980</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week4.day1.MergeLeadsGetWindow@45f292]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@5212445</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.DeleteLead@fd02e5]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@23922980</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/06/21 17:36:54</td>   <td>-21078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/06/21 17:37:12</td>   <td>-3336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.runDeleteLead(java.lang.String)[pri:0, instance:week2.day2.DeleteLead@fd02e5]">runDeleteLead</td> 
  <td>TestNG-PoolService-0@23922980</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/06/21 17:37:14</td>   <td>-1225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.runDuplicateLead(java.lang.String)[pri:0, instance:week2.day2.DuplicateLead@1cab519]">runDuplicateLead</td> 
  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/06/21 17:37:14</td>   <td>-1149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.runDuplicateLead(java.lang.String)[pri:0, instance:week2.day2.DuplicateLead@1cab519]">runDuplicateLead</td> 
  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/06/21 17:37:14</td>   <td>-1062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.runDuplicateLead(java.lang.String)[pri:0, instance:week2.day2.DuplicateLead@1cab519]">runDuplicateLead</td> 
  <td>TestNG-PoolService-2@33289492</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/06/21 17:37:20</td>   <td>5441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.runEditLead(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">runEditLead</td> 
  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/06/21 17:37:23</td>   <td>8099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.runEditLead(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">runEditLead</td> 
  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/06/21 17:37:23</td>   <td>8166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.runEditLead(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">runEditLead</td> 
  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/06/21 17:37:23</td>   <td>8219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.runEditLead(java.lang.String, java.lang.String)[pri:0, instance:week2.day2.EditLead@100d6b1]">runEditLead</td> 
  <td>TestNG-PoolService-3@31835071</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/06/21 17:37:12</td>   <td>-3260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLeadsGetWindow.runMergeLeads(java.lang.String)[pri:0, instance:week4.day1.MergeLeadsGetWindow@45f292]">runMergeLeads</td> 
  <td>TestNG-PoolService-0@5212445</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/21 17:36:53</td>   <td>-22073</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:week2.day2.CreateLead@e92674]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27655731</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/06/21 17:36:53</td>   <td>-22057</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:week2.day2.DeleteLead@fd02e5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27655731</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/06/21 17:36:53</td>   <td>-22057</td> <td>&nbsp;</td><td title="&gt;&gt;DuplicateLead.setData()[pri:0, instance:week2.day2.DuplicateLead@1cab519]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27655731</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/06/21 17:36:53</td>   <td>-22057</td> <td>&nbsp;</td><td title="&gt;&gt;EditLead.setData()[pri:0, instance:week2.day2.EditLead@100d6b1]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27655731</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/06/21 17:36:53</td>   <td>-22057</td> <td>&nbsp;</td><td title="&gt;&gt;MergeLeadsGetWindow.setData()[pri:0, instance:week4.day1.MergeLeadsGetWindow@45f292]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27655731</td>   <td></td> </tr>
</table>
