<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>0</td> <td title="&gt;&gt;TestngAnnotation.beforeSuite()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>14</td> <td>&nbsp;</td><td title="&gt;&gt;TestngAnnotation.beforeTest()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestngAnnotation.beforeClass()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestngAnnotation.beforeMethod()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngAnnotation.testCase1()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">testCase1</td> 
  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngAnnotation.afterMethod()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestngAnnotation.beforeMethod()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngAnnotation.testCase2()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">testCase2</td> 
  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngAnnotation.afterMethod()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngAnnotation.afterClass()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>57</td> <td>&nbsp;</td><td title="&lt;&lt;TestngAnnotation.afterTest()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/06/06 17:51:52</td>   <td>131</td> <td title="&lt;&lt;TestngAnnotation.afterSuite()[pri:0, instance:week5.day2.TestngAnnotation@153f17c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19381539</td>   <td></td> </tr>
</table>
